/* remove defaults  */

html,
body {
    padding: 0px;
    margin: 0px;
}

.container {
    width: 200px;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

.container div {
    height: 20px;
    width: 20px;
    border: solid;
}


/* colours of tetraminoes */

.T-Tetramino {
    background-color: red;
}

.L-Tetramino {
    background-color: orangered;
}

.Box-Tetramino {
    background-color: yellow;
}

.Z-Tetramino {
    background-color: deepskyblue;
}

.I-Tetramino {
    background-color: lightseagreen;
}